#main2{
    display: flex;
    justify-content: center;
    
}
.main{
    background-color: yellow;
    margin:300px;
    width: 300px;
    height: 100px;
    text-align: center;
    padding:10px;
    font-size: large;
    font-weight: bolder;
    color: white;
}
